<!-- GET /albums -->

<html>
  <head></head>
  <body>
    <h1>Albums</h1>

    <% @albums.each do |album| %>

    <div>
    <br/>Title: <%= album.title %> <br />
    Released: <%=  album.release_year %> <br />
    <a href="/albums/<%=album.id%>">Go to the id page</a>
    </div>
    <% end %>

    
    <!-- ... -->
  </body>
</html>