<form method="POST" action="/albums">
  <label>New album title: </label>
  <input type="text" name="title" /><br />
  <label>New album release year: </label>
  <input type="text" name="release_year" /><br />
  <label>New album artist id: </label>
  <input type="text" name="artist_id" />

  <input type="submit" />
</form>