<form method="POST" action="/artists">
  <label>New artist name: </label>
  <input type="text" name="name" /><br />
  <label>New artist genre: </label>
  <input type="text" name="genre" /><br />

  <input type="submit" />
</form>